<div id="depositoFragment">
    <h3 class="mb-4">Depósito</h3>
    <form id="depositoForm">
        <div class="form-group">
            <label for="contaSelecionada">Selecione a conta:</label>
            <select class="form-control" id="contaSelecionada">
                <option value="C">Conta Corrente</option>
                <option value="P">Conta Poupança</option>
            </select>
        </div>
        <div class="form-group">
            <label for="valorDeposito">Valor a ser depositado:</label>
            <input type="number" class="form-control" id="valorDeposito" placeholder="Digite o valor">
        </div>
        <button type="submit" class="btn btn-primary">Depositar</button>
    </form>
</div>