<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro - Banco Horizon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 text-center">
    <h1>Ocorreu um erro</h1>
    <p>estou com preguiça de tratar todos os erros, então essa é uma pagina generica dizendo que deu merda, volte pra tentar denovo  :).</p>
    <a href="#" onclick="voltar()" class="btn btn-primary">Voltar</a>
</div>
<script>
    function voltar() {
        window.history.back();
    }
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
