<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Banco Horizon</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mb-4">Bem-vindo ao Banco Horizon</h1>

    <!-- Detalhes da conta do usuário -->
    <div class="mb-4">
        <h3>Detalhes da Sua Conta:</h3>
        <p>Número da Agência: <span th:text="${conta != null ? conta.numero : ''}"></span></p>
        <p>Dígito: <span th:text="${conta != null ? conta.digito : ''}"></span></p>
        <p>Saldo: <span th:text="${conta != null ? conta.saldo : ''}"></span></p>
        <p>Tipo de Conta: <span th:text="${conta != null ? conta.tipoConta : ''}"></span></p>
    </div>

    <!-- Botões para funcionalidades -->
    <div>
        <a th:href="@{/home/conta/criar}" class="btn btn-primary">Criar Conta</a>
        <a th:href="@{/home/conta/saldo}" class="btn btn-primary">Consultar Saldo</a>
        <a th:href="@{/home/conta/transferencia}" class="btn btn-primary">Realizar Transferência</a>
        <a th:href="@{/home/conta/deposito}" class="btn btn-primary">Realizar Depósito</a>
        <a th:href="@{/home/conta/saque}" class="btn btn-primary">Realizar Saque</a>
    </div>

    <br>

    <!-- Botão para finalizar sessão -->
    <a th:href="@{/}" class="btn btn-secondary">Finalizar Sessão</a>
</div>

<!-- Bootstrap JS (opcional, apenas se você precisar de funcionalidades do Bootstrap que dependem de JavaScript) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
