<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Banco Horizon</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mb-4">Bem-vindo <span th:text="${nomePessoa}"></span></h1>

    <!-- Detalhes das contas do usuário -->
    <div class="mb-4">
        <h3>Suas Contas:</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Número da Agência</th>
                <th>Dígito</th>
                <th>Saldo</th>
                <th>Tipo de Conta</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="conta : ${contas}">
                <td th:text="${conta.numero}"></td>
                <td th:text="${conta.digito}"></td>
                <td th:text="${conta.saldo}"></td>
                <td th:text="${conta.tipoConta}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Detalhes da pessoa -->
    <div class="mb-4">
        <h3>Detalhes do Titular:</h3>
        <p>Nome: <span th:text="${pessoa?.nome}"></span></p>
        <p>Telefone: <span th:text="${pessoa?.telefone}"></span></p>
        <p>CPF: <span th:text="${pessoa?.cpf}"></span></p>
    </div>

    <!-- Botões para funcionalidades -->
    <div>
        <a th:href="@{/home/criar}" class="btn btn-primary">Criar Conta</a>
        <a th:href="@{/home/transferencia}" class="btn btn-primary">Realizar Transferência</a>
        <a th:href="@{/home/deposito}" class="btn btn-primary">Realizar Depósito</a>
        <a th:href="@{/home/saque}" class="btn btn-primary">Realizar Saque</a>
    </div>

    <br>

    <!-- Botão para finalizar sessão -->
    <a th:href="@{/}" class="btn btn-secondary">Finalizar Sessão</a>
</div>

<!-- Bootstrap JS (opcional, apenas se você precisar de funcionalidades do Bootstrap que dependem de JavaScript) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
