<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saque - Banco Horizon</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mb-4">Saque em Conta</h1>

    <!-- Informações de saldo disponível -->
    <div class="mb-4">
        <h3>Saldo Disponível para Saque:</h3>
        <p>Saldo: <span th:text="${conta.saldo}"></span></p>
    </div>

    <!-- Formulário para o saque -->
    <form action="/realizarSaque" method="post">
        <div class="form-group">
            <label for="valor">Digite o valor a ser sacado:</label>
            <input type="number" class="form-control" id="valor" name="valor" placeholder="Valor a ser sacado" required>
        </div>
        <button type="submit" class="btn btn-primary">Realizar Saque</button>
    </form>

    <!-- Mensagem de saque bem-sucedido -->
    <div th:if="${saqueBemSucedido}" class="mt-4 alert alert-success">
        Saque realizado com sucesso.
    </div>

    <!-- Botão para voltar -->
    <a th:href="@{/home}" class="btn btn-secondary mt-3">Voltar</a>
</div>

<!-- Bootstrap JS (opcional, apenas se você precisar de funcionalidades do Bootstrap que dependem de JavaScript) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
