<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários - Banco Horizon</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mb-4">Todos os Usuários</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CPF</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nome}"></td>
            <td th:text="${usuario.telefone}"></td>
            <td th:text="${usuario.cpf}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/}" class="btn btn-secondary">Voltar para a Página Inicial</a>
</div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
